.exp-page{
    width: 80%;
    height: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.7em;
    /* text-align: center; */
    padding: 1.2%;    
    background-color: #e1eedd;
}
#h1-exp{
    font-size: calc(1.5rem + 2.5vw);
    font-weight: 500;
    max-width: 60%;
    margin: 0;
    border-bottom: .1rem solid black;
    color: #f0a04b;
    width: 70%;
}
#student_intern{
    width: 80%;
    justify-content: flex-start;
    align-items: center;
    padding-left:2em ;
}
#student_intern h2{
    font-size: 1.5em;
    color: #943d24;
}
#student_intern em{
    font-style: normal;
    
    font-weight: normal;
    color: #943d24;

}
#exp-date{
    font-size: 1.7rem;
    color: #e1a7bc;
    font-weight: 300;
    margin-top: -.75em;
}
#exp-p{
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 1.3em;
    margin-top: 0;
    width: 85%;
    color: #183a1d;
}